<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Signup</title>
</head>
<body>
    <div style="height: 150px; width: 600px; margin: 0 auto; text-align: center;"></div>
    <div class="maindiv">
        <div class="logo2">
            <div class="headerofsite"> StackKoberFlow </div>
            <div class="logo"> <img src="images/soflogo.jpg"> </div>
        </div>
        <div class="blackline"></div>
        <div class="autorization">Авторизация</div>
        <form action="/login" method="post">
            <ep>Электронная почта:</ep> <input type="email" class="ep" name="username"><br>
            <ep>Пароль:</ep> <input type="password" class="ep" name="password"><br>
            <input type="hidden" name="_csrf" value="4f6ace4e-8603-44da-8829-3f46386fa5ba">
            <input type="submit" class="submit" value="Вход">
        </form>
        <div class="blackline"></div>
        <div class="registration">Нет аккаунта? <a href="reg.html" class="registration"> <reg>Зарегистрируйтесь!</reg> </a></div>
        <div class="blackline"></div>
        <div class="toindex">
            <button type="button" name="toindex"><a href="index.html"><toi>Вернуться на главную</toi></a></button>
        </div>
    </div>

    <script src="scripts.js"></script>
</body>
</html>

